<div class="modal fade show" id="resourceModal" tabindex="-1" style="display:block; background:rgba(0,0,0,0.5);" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ resource.title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="document.getElementById('modal-container').innerHTML = '';"></button>
      </div>
      <div class="modal-body">
        <p>{{ resource.description }}</p>
        {% if resource.pdf_or_file_upload.url %}
          <iframe src="{{ resource.pdf_or_file_upload.url }}" width="100%" height="400px"></iframe>
        {% endif %}
      </div>
      <div class="modal-footer">
        <a href="/resources/{{ resource.id }}/download/" class="btn btn-success">Download</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="document.getElementById('modal-container').innerHTML = '';"><span>Close</span></button>
      </div>
    </div>
  </div>
</div> 